:root {
  --background-color: white;
  --hr-color: #f3d8b4;
  --text-color: #2a2a2c;
  --hover-color: #46d389;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #2a2a2c;
    --hr-color: #555;
    --text-color: white;
    --hover-color: #46d389;
  }
}

body {
  background-color: var(--background-color);
  font-family: Georgia, Arial, Helvetica, sans-serif;
  font-size: 1.15rem;
  line-height: 1.5;
  text-align: center;
  color: var(--text-color);
  margin: 0 5%;
}

a {
  color: var(--text-color);
}

a:hover {
  color: var(--hover-color);
  transition: color 0.2s ease;
}

p {
  margin-bottom: 1.5rem;
}

h1 {
  font-size: 2.2rem;
  margin: 2.5rem 0 1.5rem 0;
  letter-spacing: 0.1625em;
  text-transform: uppercase;
}

h2 {
  font-size: 1.5rem;
  margin: 1rem 0;
}

hr {
  margin: 0 0;
  border-width: 0;
  border-top: 1px solid var(--hr-color);
}

.row {
  display: flex;
  justify-content: center;
  column-gap: 2rem;
  margin-bottom: 1.5rem;
  & > * {
    height: 100%;
  }
}

svg {
  height: 2rem;
  width: 2rem;
  fill: var(--text-color);
}

svg:hover {
  fill: var(--hover-color);
  transition: fill 0.2s ease;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  vertical-align: bottom;
  column-gap: 2rem;
  margin: 3rem 0 2rem 0;
}

header h1 {
  display: block;
  margin: 0;
  text-align: left;
}

header img {
  display: block;
  width: 8rem;
  height: 8rem;
  border-radius: 15%;
}
